<div class="row">
    <div class="col-xs-12" *ngIf="employee">
        <h2>The employee's detail</h2>
        <div class="responsive text-center">
            <table class="table table-dark">
                <thead>
                <tr >
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phonenumber</th>
                    <th scope="col" >Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{employee.id}}</th>
                    <td>{{employee.name}}</td>
                    <td>{{employee.phonenumber}}</td>
                    <td>{{employee.address}}</td>
                    <td><button class="btn btn-danger" (click)="deleteEmployee(employee.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                      </svg></button></td>
                </tr>
            
                </tbody>
            </table>
</div>
       
    </div>
</div>

<p>
    <button type="button" class="btn btn-outline-secondary" (click)="onBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg></button> 
</p>

<router-outlet></router-outlet>