<br>
<div class="col-md-6 offset-md-3">
    <h4 class="text-center text-secondary"> Update Employee</h4>
    <br>
    <!-- we will se ngSubmit event and we assign it to an eventHandler onSubmit(), this will 
    be defined in the component -->
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <!-- <label>First Name</label> -->
            <input type="text" class="form-control text-secondary" id="id" [(ngModel)]="employee.name" name="id" placeholder="id">
        </div>
        <br>
        <div class="form-group">
            <!-- <label>First Name</label> -->
            <input type="text" class="form-control text-secondary" id="firstName" [(ngModel)]="employee.name" name="firstName" placeholder="First Name">
        </div>
        <br>
        <div class="form-group">
            <!-- <label>Email</label> -->
            <input type="text" class="form-control text-secondary" id="email" [(ngModel)]="employee.email" name="email" placeholder="Email@snva.com">
        </div>
        <br>
        <div class="form-group">
            <!-- <label>Phonenumber</label> -->
            <input type="text" class="form-control text-secondary" id="phonenumber" [(ngModel)]="employee.phonenumber" name="phonenumber" placeholder="Phonenumber">
        </div>
        <br>
        <div class="form-group">
            <!-- <label>Address</label> -->
            <input type="text" class="form-control text-secondary" id="address" [(ngModel)]="employee.address" name="address" placeholder="Address">
        </div>
        <br>
        <button class="btn btn-outline-secondary " type="submit">Update Employee</button>
    </form>
</div>