<!-- <div class="row" style="background-image: url('assets/img/antoine-barres.jpg')"></div> -->
<div class="row" style="background-color: color-mix(in hsl shorter hue, color percentage, color percentage)">
    <!-- <div class="filter"></div> -->
    <div class="col-xs-12 p-2" style="--bs-border-opacity: .5;">
        <!-- <div class="text-center text-secondary pt-4">
            <h1>Employee Management System</h1>
            <br />
        </div> -->
    </div>
</div>
<div class="row  m-4">
    <div class="col-xs-12">
        <h2 class="title text-center p-4 text-secondary">Employee Management System</h2>
        <p class="text-justify">Welcome to our Employee Management System, your comprehensive solution for efficient workforce administration. Our system empowers businesses to streamline the management of employee information, ensuring a smooth and organized approach to personnel administration.</p> 
        <p class="text-justify">From tracking essential details such as names, job titles, and departments to maintaining additional information like contact details and addresses, our Employee Management System simplifies the complexities of human resource management. Navigate through our user-friendly</p>
        <p class="text-justify">interface to effortlessly access employee lists, detailed profiles, and even add or edit employee information seamlessly. Elevate your organizational efficiency with our Employee Management System, designed to meet the diverse needs of modern businesses.</p>
        <br>
        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
    </div>
    <div class="section text-center">
    <div class="c">
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="card info bg-light p-2 text-secodary">
                    <div class="description">
                        <h4 class="info-title">Efficiency</h4>
                        <p class="description">Experience unparalleled efficiency with our Employee Management System, setting the gold standard in workforce administration solutions.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card info bg-light p-1 text-secodary">
                    <!-- <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div> -->
                    <div class="description">
                        <h4 class="info-title">Transforming</h4>
                        <p class="text-justify">As the best-in-class solution, our system is not just a tool but a strategic partner, transforming the complexities of HR into streamlined processes</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card info bg-light p-1 text-secodary">
                    <div class="description">
                        <h4 class="info-title">Confidence</h4>
                        <p class="text-justify">Embrace the future of workforce management with confidence by choosing our Employee Management System as your trusted companion. </p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card info bg-light p-1 text-secodary">
                    <div class="description">
                        <h4 class="info-title">Real-time access</h4>
                        <p class="text-justify">Real-time access to critical employee info, analytics features, empowers decision-makers to make informed choices that drive business success. </p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
<br/> <br/>
    <div class="contianer-fluid mt-4">
        <h2 class="title text-center p-4">Peformance Topics</h2>
        
        <div class="row">
            <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Lorem I</h5>
                          <p class="card-text">Adipisicing eu aliquip minim ea veniam sit qui nostrud tempor laborum officia.</p>
                          <a href="#" class="btn btn-outline-secondary">Merol</a>
                        </div>
                      </div>
                      <br><br>
                      <!-- <hr>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <hr> -->
            </div>
            
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                      <h5 class="card-title">Lorem II</h5>
                      <p class="card-text">Occaecat cupidatat pariatur tempor sint duisUllamco adipisicing incididunt nulla Lorem </p>
                      <a href="#" class="btn btn-outline-secondary">Merol</a>
                    </div>
                  </div>
                  <br><br><br><br>
                  <hr>
                <div class="col-xs-12 card-footer text-center">
                   
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                </div>
                <hr>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Lorem III</h5>
                  <p class="card-text">Lorem deserunt nulla duis eiusmod aliquip sint deserunt enim aute reprehenderit occaecat.</p>
                  <a href="#" class="btn btn-outline-secondary">Merol</a>
                </div>
              </div>
            <!-- <div class="card-footer text-center">
                <br><br>
                <hr>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
            <hr> -->
    </div>
        </div>
    </div>
</div>




















<!-- <div class="row">
    <div class="col-xs-12">
        <h2>Employee Management System</h2>
        <app-employee></app-employee>
    </div>
</div> -->